.nav {
  margin-left: auto;
}

.nav_list {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  list-style: none;
}
.nav_item {
  font-size: 1.2rem;
  --nav-hover: all ease 150ms;
}

.nav_item:hover {
  color: var(--color-secondary);
  transition: var(--nav-hover);
}

.nav_item::after {
  content: "";
  display: block;
  height: 2px;
  border-radius: 10%;

  background-color: var(--color-secondary);
  opacity: 0;
  width: 100%;

  transform-origin: center;
  transition: var(--nav-hover);
}

.nav_item:hover::after {
  opacity: 1;
}
