version: "3.7"

services:
  base:
    image: ${DOCKER_INTERNAL_REGISTRY:?Missing DOCKER_INTERNAL_REGISTRY value (see 'Private Docker Registry ' section in example.env)}/nwm-base
    build: ./base
  deps:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/nwm-deps:netcdf_${NETCDF_C_VERSION:-latest}
    build:
      context: ./nwm/deps
      args:
        DOCKER_INTERNAL_REGISTRY: ${DOCKER_INTERNAL_REGISTRY:?}
        NETCDF_C_VERSION: ${NETCDF_C_VERSION:-latest}
        NETCDF_FORTRAN_VERSION: ${NETCDF_FORTRAN_VERSION:-latest}
    depends_on:
      - base
  s3fs-volume-helper:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/s3fs-volume-helper
    build:
      context: ../../
      dockerfile: ./docker/main/s3fs-volume-helper/Dockerfile
  scheduler-service:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/scheduler-service
    build:
      context: ./schedulerservice
      args:
        docker_internal_registry: ${DOCKER_INTERNAL_REGISTRY}
        comms_package_name: ${PYTHON_PACKAGE_DIST_NAME_COMMS:?}
        scheduler_package_dist_name: ${PYTHON_PACKAGE_DIST_NAME_SCHEDULER:?}
        scheduler_service_package_dist_name: ${PYTHON_PACKAGE_DIST_NAME_SCHEDULER_SERVICE:?}
        scheduler_service_package_version_constraint: ${PYTHON_PACKAGE_DIST_VERSION_CONSTRAINT_SCHEDULER_SERVICE:-}
    #depends_on:
    #  - base
  nwm:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/nwm:${NWM_VERSION:-latest}
    build:
      context: ./nwm
      args:
        REPO_URL: ${NWM_REPO_URL?}
        BRANCH: ${NWM_BRANCH?}
        COMMIT: ${NWM_COMMIT}
        DOCKER_INTERNAL_REGISTRY: ${DOCKER_INTERNAL_REGISTRY:?}
        NETCDF_C_VERSION: ${NETCDF_C_VERSION:-latest}

  ngen-deps:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/ngen-deps:latest
    build:
      #context: ./ngen/deps
      context: ./ngen
      target: rocky-ngen-deps
      args:
        DOCKER_INTERNAL_REGISTRY: ${DOCKER_INTERNAL_REGISTRY:?}
    #depends_on:
    #  - base

  ngen-build-test:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/ngen-build-test:${NGEN_VERSION:-latest}
    build:
      context: ./ngen
      target: rocky_ngen_build_testing
      args:
        DOCKER_INTERNAL_REGISTRY: ${DOCKER_INTERNAL_REGISTRY:?}

  ngen:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/ngen:${NGEN_VERSION:-latest}
    build:
      context: ./ngen
      target: ngen_worker
      args:
        REPO_URL: ${NGEN_REPO_URL?No NGen repo url configured}
        BRANCH: ${NGEN_BRANCH?No NGen branch configured}
        COMMIT: ${NGEN_COMMIT}
        TROUTE_REPO_URL: ${TROUTE_REPO_URL?No t-route repo url configured}
        TROUTE_BRANCH: ${TROUTE_BRANCH?No t-route branch configured}
        TROUTE_COMMIT: ${TROUTE_COMMIT}
        BUILD_PARALLEL_JOBS: ${NGEN_BUILD_PARALLEL_JOBS:-2}
        DOCKER_INTERNAL_REGISTRY: ${DOCKER_INTERNAL_REGISTRY:?}
    depends_on:
      - ngen-deps
    #depends_on:
    #    - deps
    #For building, this only gives shared memory to each build step!!! shm_size: 2GB

  ngen-partitioner:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/${DOCKER_PARTITIONER_IMAGE:-ngen-partitioner}
    build:
      context: ./ngen-partitioner
      args:
        REPO_URL: ${NGEN_REPO_URL?No NGen repo url configured}
        BRANCH: ${NGEN_BRANCH?No NGen branch configured}
        COMMIT: ${NGEN_COMMIT}
        BUILD_PARALLEL_JOBS: ${NGEN_BUILD_PARALLEL_JOBS:-2}
        DOCKER_INTERNAL_REGISTRY: ${DOCKER_INTERNAL_REGISTRY:?}
        PARTITIONER_EXECUTABLE: ${PARTITIONER_EXECUTABLE:-partitionGenerator}
    depends_on:
      - ngen-deps

  ngen-calibration:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/ngen-calibration:${NGEN_CAL_IMAGE_TAG:-latest}
    build:
      context: ./ngen-calibration
      args:
        BASE_NGEN_IMAGE_TAG: ${NGEN_CAL_BASE_IMAGE_TAG:-latest}
        #REPO_URL: ${NGEN_REPO_URL?No NGen repo url configured}
        NGEN_CAL_BRANCH: ${NGEN_CAL_BRANCH:-master}
        NGEN_CAL_COMMIT: ${NGEN_CAL_COMMIT}
        #TROUTE_REPO_URL: ${TROUTE_REPO_URL?No t-route repo url configured}
        #TROUTE_BRANCH: ${TROUTE_BRANCH?No t-route branch configured}
        #TROUTE_COMMIT: ${TROUTE_COMMIT}
        #BUILD_PARALLEL_JOBS: ${NGEN_BUILD_PARALLEL_JOBS:-2}
        DOCKER_INTERNAL_REGISTRY: ${DOCKER_INTERNAL_REGISTRY:?}
    depends_on:
      - ngen

  request-service:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/nwm-request-service
    build:
      context: ./requestservice
      args:
        docker_internal_registry: ${DOCKER_INTERNAL_REGISTRY}
        comms_package_name: ${PYTHON_PACKAGE_DIST_NAME_COMMS:?}
        access_package_name: ${PYTHON_PACKAGE_DIST_NAME_ACCESS:?}
        externalrequests_package_name: ${PYTHON_PACKAGE_DIST_NAME_EXTERNAL_REQUESTS:?}
        request_service_package_name: ${PYTHON_PACKAGE_DIST_NAME_REQUEST_SERVICE:?}
        request_service_package_version_constraint: ${PYTHON_PACKAGE_DIST_VERSION_CONSTRAINT_REQUEST_SERVICE:-}
  data-service:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/dmod-data-service
    build:
      context: ./dataservice
      args:
        docker_internal_registry: ${DOCKER_INTERNAL_REGISTRY}
        service_package_name: ${PYTHON_PACKAGE_DIST_NAME_DATA_SERVICE:-dmod-dataservice}
        service_package_constraint: ${PYTHON_PACKAGE_DIST_VERSION_CONSTRAINT_DATA_SERVICE:-}
  subset-service:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/subset-service
    build:
      context: ./subsetservice
      args:
        docker_internal_registry: ${DOCKER_INTERNAL_REGISTRY}
        comms_package_name: ${PYTHON_PACKAGE_DIST_NAME_COMMS:?}
        modeldata_package_name: ${PYTHON_PACKAGE_DIST_NAME_MODELDATA:?}
        subsetservice_package_name: ${PYTHON_PACKAGE_DIST_NAME_SUBSET_SERVICE:?}

  partitioner-service:
    image: ${DOCKER_INTERNAL_REGISTRY:?}/partitioner-service
    build:
      context: ./partitionerservice
      args:
        docker_internal_registry: ${DOCKER_INTERNAL_REGISTRY}
        partitioner_service_package_name: ${PYTHON_PACKAGE_DIST_NAME_PARTITIONER_SERVICE:?}
        partitioner_service_listener_port: ${DOCKER_PARTITIONER_SERVICE_CONTAINER_PORT:-3014}
        partitioner_service_module_name: ${PYTHON_PACKAGE_NAME_PARTITIONER_SERVICE:?}
networks:
  mpi-net:
    external: true
    name: ${DOCKER_MPI_NET_NAME}
