{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Evaluations{% endblock title %}</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/base.js' %}"></script>
        {% block style %}{% endblock style %}
        {% block scripts %}{% endblock scripts %}
    </head>
    <body>
        <header id="base-header">
            <div id="base-banner">
                {% block bannercontent %}
                    <h1>Model as a Service - Evaluations</h1>
                {% endblock bannercontent %}
            </div>
            {% block navbar %}{% endblock navbar %}
        </header>
        <div id="base-content-wrapper">
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="base-footer">
            {% block footer %}{% endblock footer %}
        </footer>
    </body>
</html>