*.iml
*.pyc
__pychache__/
/.idea/
/docker_host_volumes/
/venv/
.env
base/ssh/
gui/db.sqlite3
gui/ssl/

communication/nwmaas/test/ssl/certificate.pem
communication/nwmaas/test/ssl/*certificate*.pem
communication/nwmaas/test/ssl/*privkey*.pem

request_client/ssl/certificate.pem
requestservice/ssl/
request_handler/*.tar.gz
requestservice/macbook_ssl/
requestservice/ssl/requestservice/certificate.pem
requestservice/ssl/*certificate*.pem
requestservice/ssl/*privkey*.pem
schedulerservice/scheduler.log

base/Dockerfile.bkup
custom_up_stack.sh-orig
docker-build-custom.yml-orig
docker-build.yml-orig
docker-build.yml.bkup
docker-deploy-custom-read_from_vm_mounts.yml
docker-deploy-custom.yml-old
docker-deploy-custom.yml-orig
docker-deploy-data-hack.yml
docker-deploy.yml-orig
docker-registry.yml

nwm/Dockerfile-new
nwm/Dockerfile-orig
nwm/Dockerfile.bkup
nwm/hostfile
nwm/run.sh
nwm/run_model.sh-work
nwm/run_test.sh
nwm/testfile
redis_test/
request.py

scheduler.log
schedulerservice/Dockerfile_old
schedulerservice/distribute_domain.sh_36cores
schedulerservice/distribute_domain.sh_cpy
schedulerservice/entry.sh-old
schedulerservice/entry.sh_cpy
schedulerservice/entry.sh_old1
schedulerservice/entry.sh_old2
schedulerservice/entry.sh_work
schedulerservice/entry.sh_work1
schedulerservice/get_scripts.sh-old
schedulerservice/get_scripts.sh-old1
schedulerservice/get_scripts.sh-old2
schedulerservice/get_scripts.sh-work
schedulerservice/keynamehelper.py
schedulerservice/mgmt.dockerfile_old
schedulerservice/request.py_test
schedulerservice/scheduler.py-new
schedulerservice/scheduler.py-new1
schedulerservice/scheduler.py-new2
schedulerservice/scheduler.py-new3
schedulerservice/scheduler.py-new4
schedulerservice/scheduler.py-new6
schedulerservice/scheduler.py-new7
schedulerservice/scheduler.py-new8
schedulerservice/scheduler.py-old
schedulerservice/scheduler.py-old1
schedulerservice/scheduler.py-old2
schedulerservice/scheduler.py-old3
schedulerservice/scheduler.py-old5
schedulerservice/scheduler.py_logging
schedulerservice/scheduler.py_prod
schedulerservice/scheduler.py_test1
schedulerservice/scheduler.py_test2
schedulerservice/scheduler.py_test3
schedulerservice/scheduler.py_test4
schedulerservice/scheduler.py_test5
schedulerservice/ssl/
schedulerservice/test.sh-old
schedulerservice/test.sh-old1
schedulerservice/test.sh-old1a
schedulerservice/test.sh-old2
schedulerservice/utils/clean.py-test
schedulerservice/utils/clean.py_orig
schedulerservice/utils/clean.py_prod
schedulerservice/utils/keynamehelper.py-work
schedulerservice/utils/keynamehelper.py_new
schedulerservice/utils/keynamehelper.py_orig
scheduler_old/
tmp_doc/
schedulerservice/Dockerfile_test
schedulerservice/Dockerfile_work
schedulerservice/entry.sh_work2
schedulerservice/test/test_scheduler.py-work
schedulerservice/test/test_scheduler.py-work1
schedulerservice/test/test_scheduler.py-work2
schedulerservice/test/test_scheduler.py-work3
schedulerservice/test/test_scheduler.py_old
