*.iml
*.pyc
__pycache__/
/.idea/
.idea/
/docker_host_volumes/
/venv/
/venv_*/
.env
docker/main/base/ssh/
python/gui/db.sqlite3
dist/
build/
*.egg-info/

/.dmod_client_config.yml

/python/pydevd-pycharm.egg

ResourceManager.log

**/*.pem

ssl/
request_handler/*.tar.gz
requestservice/macbook_ssl/
docker/main/schedulerservice/scheduler.log

docker/main/base/Dockerfile.bkup
custom_up_stack.sh-orig
docker-build-custom.yml-orig
docker-build.yml-orig
docker-build.yml.bkup
docker-deploy-custom-read_from_vm_mounts.yml
docker-deploy-custom.yml-old
docker-deploy-custom.yml-orig
docker-deploy-data-hack.yml
docker-deploy.yml-orig

docker/main/nwm/Dockerfile-new
docker/main/nwm/Dockerfile-orig
docker/main/nwm/Dockerfile.bkup
docker/main/nwm/hostfile
docker/main/nwm/run.sh
docker/main/nwm/run_model.sh-work
docker/main/nwm/run_test.sh
docker/main/nwm/testfile
/docker/secrets/*

redis_test/
request.py

scheduler.log
python/services/schedulerservice/Dockerfile_old
python/services/schedulerservice/distribute_domain.sh_36cores
python/services/schedulerservice/distribute_domain.sh_cpy
python/services/schedulerservice/entry.sh-old
python/services/schedulerservice/entry.sh_cpy
python/services/schedulerservice/entry.sh_old1
python/services/schedulerservice/entry.sh_old2
python/services/schedulerservice/entry.sh_work
python/services/schedulerservice/entry.sh_work1
python/services/schedulerservice/get_scripts.sh-old
python/services/schedulerservice/get_scripts.sh-old1
python/services/schedulerservice/get_scripts.sh-old2
python/services/schedulerservice/get_scripts.sh-work
python/services/schedulerservice/keynamehelper.py
python/services/schedulerservice/mgmt.dockerfile_old
python/services/schedulerservice/request.py_test
python/services/schedulerservice/scheduler.py-new
python/services/schedulerservice/scheduler.py-new1
python/services/schedulerservice/scheduler.py-new2
python/services/schedulerservice/scheduler.py-new3
python/services/schedulerservice/scheduler.py-new4
python/services/schedulerservice/scheduler.py-new6
python/services/schedulerservice/scheduler.py-new7
python/services/schedulerservice/scheduler.py-new8
python/services/schedulerservice/scheduler.py-old
python/services/schedulerservice/scheduler.py-old1
python/services/schedulerservice/scheduler.py-old2
python/services/schedulerservice/scheduler.py-old3
python/services/schedulerservice/scheduler.py-old5
python/services/schedulerservice/scheduler.py_logging
python/services/schedulerservice/scheduler.py_prod
python/services/schedulerservice/scheduler.py_test1
python/services/schedulerservice/scheduler.py_test2
python/services/schedulerservice/scheduler.py_test3
python/services/schedulerservice/scheduler.py_test4
python/services/schedulerservice/scheduler.py_test5
python/services/schedulerservice/test.sh-old
python/services/schedulerservice/test.sh-old1
python/services/schedulerservice/test.sh-old1a
python/services/schedulerservice/test.sh-old2
python/services/schedulerservice/utils/clean.py-test
python/services/schedulerservice/utils/clean.py_orig
python/services/schedulerservice/utils/clean.py_prod
python/services/schedulerservice/utils/keynamehelper.py-work
python/services/schedulerservice/utils/keynamehelper.py_new
python/services/schedulerservice/utils/keynamehelper.py_orig
scheduler_old/
tmp_doc/
schedulerservice/Dockerfile_test
schedulerservice/Dockerfile_work
schedulerservice/entry.sh_work2
schedulerservice/test/test_scheduler.py-work
schedulerservice/test/test_scheduler.py-work1
schedulerservice/test/test_scheduler.py-work2
schedulerservice/test/test_scheduler.py-work3
schedulerservice/test/test_scheduler.py_old

*resources.yml
*.log

# Ignore testing-specific env files
.test_env

.DS_Store
*.db
*.sqlite3
*.log.*

# Write *.shell scripts for local helper scripts that you don't want in the repo
*.shell
