pytz
pyyaml
docker
django-generate
jsonschema
redis
websockets
Faker
flake8
autopep8
setuptools
wheel
Deprecated
cryptography
python-dotenv
djangorestframework
git+git://github.com/noaa-owp/hypy@master#egg=hypy&subdirectory=python
numpy>=1.20.1
