pytz
pyyaml
docker
django-generate
jsonschema
redis
websockets
Faker
flake8
autopep8
setuptools
wheel
Deprecated
cryptography
pandas
geopandas
gitpython
python-dotenv
djangorestframework
git+git://github.com/noaa-owp/hypy@master#egg=hypy&subdirectory=python
git+git://github.com/noaa-owp/hydrotools#egg=hydrotools-nwis_client&subdirectory=python/nwis_client
numpy>=1.20.1
