###Additional Dev Requirements###
#django-generate
#flake8
#autopep8
#setuptools
#wheel
#Deprecated
#python-dotenv

###Minimum Requirements to pass testing###
websockets
redis
zipp
importlib-metadata
attrs
pyrsistent
six
jsonschema
text-unidecode
python-dateutil
Faker
websocket-client
certifi
urllib3
chardet
idna
requests
docker
pyyaml
pycparser
cffi
cryptography
