version: "3.7"

services:
  py-sources:
    image: ${DOCKER_INTERNAL_REGISTRY:?Missing DOCKER_INTERNAL_REGISTRY value (see 'Private Docker Registry ' section in example.env)}/dmod-py-sources
    build:
      context: ../../
      dockerfile: ./docker/py-sources/py-sources.Dockerfile
      args:
        docker_internal_registry: ${DOCKER_INTERNAL_REGISTRY}
        comms_package_name: ${PYTHON_PACKAGE_DIST_NAME_COMMS:?}
        access_package_name: ${PYTHON_PACKAGE_DIST_NAME_ACCESS:?}
        externalrequests_package_name: ${PYTHON_PACKAGE_DIST_NAME_EXTERNAL_REQUESTS:?}
        request_service_package_name: ${PYTHON_PACKAGE_DIST_NAME_REQUEST_SERVICE:?}
        scheduler_package_dist_name: ${PYTHON_PACKAGE_DIST_NAME_SCHEDULER:?}
        scheduler_service_package_dist_name: ${PYTHON_PACKAGE_DIST_NAME_SCHEDULER_SERVICE:?}
