body {
    display: flex;
    flex-direction: column;
}

#base-content-wrapper {
    display: flex;
    height: auto;
    flex: 1 1 auto;
    flex-direction: column;
}

.CodeMirror {
    border: 1px solid gray;
    height: auto;
    padding: 10px;
}

#message-div {
    border: 1px solid black;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#message-div > div {
    padding: 5px;
    margin: 5px;
}

#message-area {
    height: 100%;
}
