td, th {
    border: 1px solid gray;
    text-align: center;
}

table {
    margin: auto
}

tbody tr:nth-child(odd) {
    background-color: #eaeaea
}

tr:hover {
    background-color: #ffffbd !important;
}

th {
    background-color: #828a8f;
    color: white;
    padding: 10px;
}

td {
    padding: 5px
}