body {
    display: flex;
    flex-direction: column;
}

#base-content-wrapper {
    display: flex;
    height: auto;
    flex: 1 1 auto;
    flex-direction: column;
}

.CodeMirror {
    border: 1px solid gray;
    height: auto;
}

#launch-warning {
    background-color: yellow;
    border: 2px solid black;
    box-shadow: -6px 6px 4px gray;
    padding: 10px;
    margin-bottom: 20px;
}

#edit-div {
    border: 1px solid black;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#edit-div > div {
    padding: 5px;
    margin: 5px;
}

#editor-header {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

#editor-content {
    height: 100%;
}

*:invalid {
    box-shadow: --error-glow;
}
