#base-banner {
    background: url({% static 'favicon.png' %}) no-repeat left center;
    background-size: 100px 100px;
    background-position-x: 10px;
    height: 60px;
    background-color: #33ade0;
}

#base-banner h1 {
    padding-top: 15px;
    margin-left: 40px;
    margin-top: 0px;
    font-family: sans-serif;
    color: white;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #ececec;
    font-family: sans-serif;
    overflow-y: hidden;
}

.pane {
    background-color: white;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

:root {
    --error-glow: 0 0 5px 5px red;
}
