{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>
    <style>
        #loadCatsOverlay {
            position: relative;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: none;
            background: rgba(0,0,0,0.6);
        }

        .cat-load-wheel {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .wheel {
            width: 40px;
            height: 40px;
            border: 4px #ddd solid;
            border-top: 4px #2e93e6 solid;
            border-radius: 50%;
            animation: wheel-animated 0.8s infinite linear;
        }

        @keyframes wheel-animated {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(359deg);
            }
        }
    </style>
{% endblock styles %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
       integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
       crossorigin=""></script>
    <script src="{% static 'common/js/domain.js' %}"></script>
{% endblock scripts %}

{% block content %}
<div id="content" class="pane" style="overflow-y: auto; height: 75vh; margin: 20px">
    <fieldset id="fabric-fields" style="width: fit-content">
        <legend>Hydrofabric</legend>
        <select id="fabric-selector" onchange="loadFabricDomain()"></select>
    </fieldset>
    <div class="domain-selection" style="padding-top: 10px; overflow: auto; display: block">

        <div class="available-domain-options" style="float: left; padding-right: 20px">

            <fieldset id="fabric-fields-opts" style="width: 125px">
                <legend>Catchments</legend>
                <!--
                <select id="domainChoices" multiple="multiple" class="form-control"></select>
                -->
                <div id="domain-choices" style="width: 100px; height: 200px; margin: auto">
                    <div id="loadCatsOverlay">
                        <div class="cat-load-wheel">
                            <span class="wheel"></span>
                        </div>
                    </div>
                    <select id="domainChoices" multiple="multiple" class="form-control" style="width: 100%; height: 100%; horiz-align: right"></select>
                </div>
            </fieldset>
        </div>

        <div class="selection-controls" style="padding-top: 50px; padding-left: 20px; padding-right:20px; float: left">
            <!-- TODO: need some "onclick" actions for these (once the result box is set up properly for form) -->
            <input type='button' id='btnRight' value='Add' style="width: 75px; margin-bottom: 5px" class="btn btn-default" onclick="controlSelectAdd()"/><br />
            <input type='button' id='btnLeft' value='Remove' style="width: 75px; margin-bottom: 5px" class="btn btn-default" onclick="controlSelectRemove()"/><br />
            <input type='button' id='btnAllRight' value='Select All' style="width: 75px; margin-top: 50px; margin-bottom: 5px" class="btn btn-default" onclick="controlSelectAll()"/><br />
            <input type='button' id='btnAllLeft' value='Clear' style="width: 75px; margin-bottom: 5px" class="btn btn-default" onclick="controlSelectClear()"/>
        </div>

        <div class="selected-domain-options" style="float: left; padding-left: 20px">
            <fieldset id="fabric-fields-sel" style="width: 125px">
                <legend>Selections</legend>
                <select id="domainSelections" multiple="multiple" class="form-control" style="width: 100px; height: 200px; margin: auto; horiz-align: right"></select>
            </fieldset>
        </div>

    </div>
    <div id="submit-selection" style="padding-top: 25px">
        <button type="submit" id="submit-values-button" style="float: left" class="MaaS-btn" onclick="submitCatchments()">Continue</button>
    </div>
</div>


<form id="location-selection-form" method="post" style="display: none" action="{% url 'MaaS:create_config' %}">
    {# Add the token to provide cross site request forgery protection #}
    {% csrf_token %}
    <input type="hidden" name="feature-ids" />
    <input type="hidden" name="fabric" />

    {% for pane_input in pane_inputs %}
        <input type="hidden" name="{{ pane_input.id }}" id="{{ pane_input.id }}" >
    {% endfor %}
</form>

<script>
    startup_scripts.push(loadFabricNames);
    //startup_scripts.push(loadFabricTypes);
    startup_scripts.push(loadFabricDomain);
</script>

{% endblock content %}
