{% extends 'base.html' %}

{% block content %}

{# Cache jQuery scripts for UI scripting and styling #}
<div id="content">
    <h2>Welcome to the Office of Water Prediction's Model as a Service</h2>
    <h3>Configure your request:</h3>
    <form action="." method="post" id="request-form">
        {# Add the token to provide cross site request forgery protection #}
        {% csrf_token %}
        <div id="standard-vars">
            <label for="model">Model:</label>
            <select name="model" id="model" style="float: right; text-align: right" onchange="activate_model(this.value)">
                <option value="ngen" selected="selected"></option>
                {% for model in models %}
                    <option value="{{ model }}">{{ model }}</option>
                {% endfor %}
            </select>
            <br>
            <label for='domains'>Domain:</label>
            <select name='domain' id="model" style="float: right; text-align: right">
              <option value="example-domain-A" selected="selected"></option>
              {% for domain in domains %}
                  <option value="{{ domain }}">{{ domain }}</option>
              {% endfor %}
            </select>
            <br>
            <label for="version">Version:</label>
            <input name="version" id="version" type="number" value="1.0" min="0.0" step="0.1" style="float: right; text-align: right;" >
            <br>
            <label for="output">Output Variable:</label>
            <select style="float: right; text-align: right" name="output" id="output">
                {% for output in outputs %}
                    <option value="{{ output.value }}">{{ output.name }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        {% for model, model_parameters in parameters.items %}
            <p>{{ parameter_list }}</p>
            <div id="{{ model }}_parameters" class="parameters" style="display: none;">
                <label for="{{ model }}_parameters">Parameters:</label>
                <table id="{{ model }}-parameter-table" style="width: 20%; max-width: 400px;">
                    {% for parameter in model_parameters %}
                        <tr>
                            <td>
                                <input id="use_{{ parameter.value }}"
                                       name="{{ model }}_{{ parameter.value }}" type="checkbox"
                                       onclick="toggle_{{ model }}_{{ parameter.value }}()">
                            </td>
                            <td colspan="2">{{ parameter.name }}</td>
                        </tr>
                        <tr id="{{ model }}_{{ parameter.value }}_scalar_row" style="display: none;">
                            <td></td>
                            <td>
                                <input type="radio" name="{{ model }}_{{ parameter.value }}_parameter_type"
                                       id="{{ model }}_{{ parameter.value }}_scalar_button"
                                       checked value="scalar"
                                       onclick="enable_{{ model }}_{{ parameter.value }}_scalar()">
                            </td>
                            <td>
                                <label for="{{ model }}_{{ parameter.value }}_scalar">Scalar Value:</label>
                            </td>
                            <td>
                                <input style="text-align: right; width: 100%; float: right;" type="number"
                                       name="{{ model }}_{{ parameter.value }}_scalar"
                                       id="{{ model }}_{{ parameter.value }}_scalar">
                            </td>
                        </tr>
                        <tr id="{{ model }}_{{ parameter.value }}_distribution_row" style="display: none;">
                            <td></td>
                            <td>
                                <input type="radio" name="{{ model }}_{{ parameter.value }}_parameter_type"
                                       id="{{ model }}_{{ parameter.value }}_distribution_button"
                                       value="distribution"
                                       onclick="enable_{{ model }}_{{ parameter.value }}_distribution()">
                            </td>
                            <td>
                                Distribution Value:
                            </td>
                        </tr>
                        <tr id="{{ model }}_{{ parameter.value }}_distribution_min_row" class="disabled"
                            style="display: none;">
                            <td></td>
                            <td></td>
                            <td>
                                <label for="{{ model }}_{{ parameter.value }}_distribution_min">
                                    Minimum:
                                </label>
                            </td>
                            <td>
                                <input style="text-align: right; width: 100%; float: right;" id="{{ model }}_{{ parameter.value }}_distribution_min"
                                       name="{{ model }}_{{ parameter.value }}_distribution_min"
                                       type="number" disabled>
                            </td>
                        </tr>
                        <tr id="{{ model }}_{{ parameter.value }}_distribution_max_row" class="disabled"
                            style="display: none;">
                            <td></td>
                            <td></td>
                            <td>
                                <label for="{{ model }}_{{ parameter.value }}_distribution_max">
                                    Maximum:
                                </label>
                            </td>
                            <td>
                                <input style="text-align: right; width: 100%; float: right;" id="{{ model }}_{{ parameter.value }}_distribution_max"
                                       name="{{ model }}_{{ parameter.value }}_distribution_max"
                                       type="number" min="0.0" max="10.0" disabled>
                            </td>
                        </tr>
                        <tr id="{{ model }}_{{ parameter.value }}_distribution_type_row" class="disabled"
                            style="display: none;">
                            <td></td>
                            <td></td>
                            <td>
                                <label for="{{ model }}_{{ parameter.value }}_distribution_type">
                                    Distribution Type:
                                </label>
                            </td>
                            <td>
                                <select style="text-align: right; width: 100%; float: right;"
                                        id="{{ model }}_{{ parameter.value }}_distribution_type"
                                        name="{{ model }}_{{ parameter.value }}_distribution_type" disabled>
                                    <option value="" selected="selected"></option>

                                    {% for distribution_type in distribution_types %}
                                        <option value="{{ distribution_type.value }}">
                                            {{ distribution_type.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
        <input type="submit" value="Run" >
    </form>
</div>
</div>

{% endblock content %}
