
#base-banner {
    background: url(/static/common/img/favicon.png) no-repeat left center;
    background-size: 100px 100px;
    background-position-x: 10px;
    height: fit-content;
    background-color: #0a5190;
}

#base-banner h1 {
    padding: 25px;
    font-family: sans-serif;
    color: white;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #ececec;
    font-family: sans-serif;
    overflow-y: auto;
}

#base-content-wrapper {
    height: 100%;
}

.pane {
    background-color: white;
    border: 1px solid #C5C5C5;
    padding: 20px;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

.MaaS-btn {
    margin: 10px 0px;
    color: white;
    background-color: #900f0f;
    border: none;
    font-weight: bold;
    height: 40px;
    font-size: larger;
    cursor: pointer;
}

.MaaS-btn:hover {
    background-color: #c92e2e;
}

fieldset {
    background-color: white;
    margin: 5px;
}

legend {
    padding: 3px;
    color: white;
    background-color: #0a5190;
    font-weight: bold;
    border: none;
    width: fit-content;
}

details summary {
    font-weight: bold;
    padding: 10px;
    background-color: #0a5190;
    color: white;
    border: none;
    cursor: pointer;
}

summary:hover, summary.summary-hover {
    background-color: #900f0f;
}
