attrs==19.2.0
certifi==2019.9.11
chardet==3.0.4
Django==2.2.26
gunicorn==19.9.0
idna==2.8
jsonschema==3.0.2
pyrsistent==0.15.4
pytz==2019.2
requests
six==1.12.0
sqlparse==0.3.0
urllib3==1.26.5
websockets
dmod-communication>=0.2.0
djangorestframework==3.12.4
psycopg2-binary==2.8.6 #todo get source package in future
